/* Desde esta linea hasta la linea 15
está el codigo para hacer la página responsiva */

img#responsive {
  display: none;
}

@media screen and (max-width: 768px){
 img#responsive {
   display: block;
 }
 img{
   display: none;
 }
}

body{
  margin: 0px;
  padding: 0px;
  
  /* TENEMOS QUE RESOLVER URGENTEMENTE AGREGAR BORDE A LA PAGINA */
  border: 10px solid gray;
}

img{
  max-width: 100%;
  vertical-align: top;
}